*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}
a{
    text-decoration: none;
}
.text{
    font-size: 17px;
    font-weight: 500;
}
main h1{
    font-size: 35px;
}
/* HEADER */
header{
    background-color: #fff;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
    line-height: 70px;
}
/* LOGO */
img{
    width: 100%;
    vertical-align: middle;
}
.logo{
    width: 150px;
    background: center;
    background-size: cover;
}
/* MENU */
.left-menu .menu{
    padding-left: 20px;
}
.menu ul li{
    list-style-type: none;
    padding: 0px 30px;
}
.black{
    color: #222;
}
.menu ul li a{
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}
.pulsante a{
    color: #fff;
    background-color: #0060FF;
    padding: 10px 20px;
}
